<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/parada_bus.css">
</head>
<body>
    <!-- <div id="vertical3">
        <div class="parada1">
            <img src="../../Img/Bus_stop.png" alt="">
        </div>
        <div class="parada2">
            <img src="../../Img/Bus_stop.png" alt="">
        </div>
        <div class="parada3">
            <img src="../../Img/Bus_stop.png" alt="">
        </div>
        <div class="parada4">
            <img src="../../Img/Bus_stop.png" alt="">
        </div>
        <div class="parada5">
            <img src="../../Img/Bus_stop.png" alt="">
        </div>
    </div>

    <div id="vertical2">
        <img src="../../Img/Bus.webp" alt="">
    </div>

    <div id="vertical1">
        <div class="caja1"></div>
        <div class="caja2"></div>
        <div class="caja3"></div>
        <div class="caja4"></div>
        <div class="caja5"></div>
    </div> -->
        
    <script src="../../Js/ejercicios/parada_bus.js"></script>
</body>
</html>